@model IEnumerable<Bmazon.Data.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
           Customer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPayment)
        </td>
    </tr>
}

</table>
